---
apiVersion: v1
kind: Namespace
metadata:
  name: exercice3
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: exercice3
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: exercice3
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app: webservice
  resources:
    requests:
      memory: 400Mi
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: exercice3
spec:
  ports:
  - name: web
    nodePort: 30900
    port: 9090
    protocol: TCP
    targetPort: web
  selector:
    prometheus: prometheus