---
apiVersion: v1
kind: Namespace
metadata:
  name: exercice3
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: exercice3
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: exercice3
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app: webservice
  resources:
    requests:
      memory: 400Mi
  externalUrl: /prometheus-exercice3
  routePrefix: /
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: prometheus-ui-ing
  namespace: exercice3
  annotations:
    traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
  labels:
    traffic-type: external
spec:
  rules:
  - http:
      paths:
      - path: /prometheus-exercice3
        backend:
          serviceName: prometheus-operated
          servicePort: 9090
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: prometheus
  namespace: exercice3
rules:
- apiGroups: [""]
  resources:
  - pods
  - services
  - endpoints
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: prometheus
  namespace: exercice3
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus
subjects:
- kind: ServiceAccount
  name: prometheus
  namespace: exercice3